@page "/SystemManagement"
<Tab>
    <TabItem Text="版本管理">
        <Row>
            <Button Text="选择新版文件"></Button>
        </Row>
        @* <Table TItem="string" AutoGenerateColumns="true"> *@
        @*      *@
        @* </Table> *@
    </TabItem>
</Tab>

@code {

}