
// Nav
#nav {
    padding-left: $grid-gutter-width * 1.5;
    padding-right: $grid-gutter-width * 1.5;
    width: 320px;
    box-sizing: border-box;
    flex-basis: auto;
    flex-grow: 0;
    position: relative;
    z-index: 2;
    transform: translateX(0);
    #app-title

{
    position: relative;
}

#app-title::after {
    content: "";
    width: $spacer * 1.5;
    border-bottom: 2px solid $primary;
    position: absolute;
    left: 0;
    top: $font-size-h1 + $font-size-h2 + ( $spacer * 1.5 );
}

hr {
    border: 0;
    height: 1px;
    background-color: currentColor;
}

.h4 {
    font-size: $font-size-xs;
    font-weight: 400;
    text-transform: uppercase;
    opacity: .3;
}

.nav-pills {
    margin-left: -( $grid-gutter-width * 1.5 );
    margin-right: -( $grid-gutter-width * 1.5 );
    font-size: 1.125rem;
}

    .nav-pills .nav-link {
        padding-left: $grid-gutter-width * 1.5;
        padding-right: $grid-gutter-width * 1.5;
    }

        .nav-pills .nav-link:not(.active) {
            color: inherit;
        }
}
